.media {
  display: flex;
  gap: 24px;
  align-items: flex-start;

  &__reply {
    flex: 1;
  }

  &__avatar {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  form {
    flex: 1;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
  }

}
