<div class='item'>
  <a class='avatar-link' routerLink='/user/{{question.user.id}}' title='{{question.user.displayName}}'>

<!--
    <div class='author-image-renderer'>
      <img ngSrc='{{question.user.picture}}' alt='' width='40' height='40'>
    </div>
-->

    <app-img-shadow [width]='40' [height]='40' src='{{question.user.picture}}' alt=''
                     class='author-image-renderer'></app-img-shadow>

  </a>

  <div class='item__right'>
    <div class='flex-cl'>

      <!--       <span  class='bountie' *ngIf="question.id === 60">+50</span>-->

      <a routerLink='/question/{{question.id}}' class='simple-endpoint'>
        <div class='subtitle-1'>{{question.title}}</div>
      </a>

      <!--<mat-icon class='check-icon' *ngIf='question.acceptedAnswerId'>done</mat-icon>-->
      <span class='check-title' *ngIf='question.id === 20'>CEVAPLANDI</span>
      <!-- <mat-icon class='hot-fire-question' *ngIf="question.id === 115">local_fire_department</mat-icon> -->

    </div>

    <div class='item__footer'>
      <div class='item__footer--username'>
        <a routerLink='/user/{{question.user.id}}'>{{question.user.displayName}}</a>
        <!--  <mat-icon *ngIf='question.user.isVerified'>local_police</mat-icon>-->
      </div>
      <span class='item__footer--bracket'>—</span>

      <div class='item__footer--time'>
        <!--   <time>{{question.creationTime | timeAgo}}</time>-->
        <time>{{question.creationTime | relativeTimeFormat}}</time>
      </div>

      <!--<ng-container *ngIf='question.answerTime'>
        <span class='bracket'>•</span>
        <img src='https://img.freepik.com/vrije-vector/portret-van-een-sterke-moslimvrouw-in-profiel-die-een-zwarte-hijab-draagt-zelfverzekerde-jonge-arabische-meisje_102172-433.jpg?size=338&ext=jpg'>
        <span>Olcay Usta</span>

        <span class='bracket'>—</span>
        <time>{{question.answerTime | relativeTimeFormat}} cevaplandi</time>
      </ng-container>-->

      <!-- <div class="master-span" *ngIf="question.id === 20">
         <span>CEVAPLANDI</span>
       </div>-->
    </div>

    <mat-chip-list aria-label='Fish selection'>

      <!--       <mat-chip [selected]='tag.selected' *ngFor='let tag of question.tags'>
               <a routerLink='/tag/{{tag.id}}'>
                 <span>{{tag.title}}</span>
               </a>
             </mat-chip>-->

      <mat-chip [selected]='tag.selected' *ngFor='let tag of question.tags'>
        <a routerLink='/tag/{{tag.id}}'>
<!--          <img src='https://angular.io/assets/images/logos/angular/angular.svg' *ngIf='tag.id === 2' class='angular-svg'>-->
          <span>{{tag.title}}</span>
        </a>
      </mat-chip>

      <!--     <mat-chip routerLink='/tag/{{tag.id}}' [selected]='tag.selected' selectable *ngFor='let tag of question.tags'>
             {{tag.title}}
           </mat-chip>-->

      <!-- TODO -->
      <mat-chip *ngIf='!question.tags'>Test</mat-chip>
    </mat-chip-list>

    <mat-divider></mat-divider>
  </div>
</div>
