<mat-toolbar>
  <span>Filtre</span>
</mat-toolbar>
<section>

  <mat-checkbox>test</mat-checkbox>

  <div class='labels'>
    <mat-checkbox>No answers</mat-checkbox>
    <mat-checkbox>No accepted answers</mat-checkbox>
    <mat-checkbox>Has bounty</mat-checkbox>
  </div>

  <mat-radio-group value='1' color='primary'>
    <label>Sıralama türü</label>
    <mat-radio-button value='1'>En yeni sorular</mat-radio-button>
    <mat-radio-button value='2'>Güncel sorular</mat-radio-button>
    <mat-radio-button value='3'>Cevaplanmamış sorular</mat-radio-button>
  </mat-radio-group>
</section>
