:host {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  min-height: 100vh;

  .error-text {
    padding: 24px 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: var(--medium-emphasis-color);
    margin: 0;
  }

  img {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 24px 0;
    object-fit: cover;
  }
}
