:host {
  position: fixed;
  z-index: 4;
  inset: 0 0 auto 0;
  display: block;
  width: 100%;

  mat-icon {
    color: var(--medium-emphasis-color);
  }

  mat-toolbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: var(--topbar-background);
  }

  .mat-toolbar {
    &__start {
      display: flex;
      align-items: center;
    }

    &__center {
    }

    &__end {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button[mat-icon-button], a[mat-icon-button] {
        margin-right: 8px;
      }
    }
  }
}

a[mat-button], a[mat-stroked-button] {
  app-gf-icon {
    display: inline-flex;
    margin-right: 8px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

a[mat-stroked-button] {
  border-radius: 28px;
  padding: 0 16px;
  color: var(--mdc-theme-primary);
  height: 40px;
  line-height: 40px;
  margin-right: 24px !important;

  ::ng-deep svg {
    fill: var(--mdc-theme-primary);
  }

  mat-icon {
    margin-right: 8px;
  }
}

.badge-icon ::ng-deep .mat-badge-content {
  width: 24px !important;
  top: -8px !important;
  right: -4px !important;
  height: 16px !important;
  border-radius: 12px !important;
  font-size: 11px !important;
  font-weight: 400;
  line-height: 16px !important;
}

@media (max-width: 599px) {
  :host {
    &[data-stuck] {
      transition: transform 225ms cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &[data-stuck='false'] {
      transform: translate3d(0, -64px, 0);
      transition: transform 195ms cubic-bezier(0.4, 0.0, 1, 1);
    }
  }

/*  .menu-button {
    margin-left: -8px;
  }*/

  button[hidden] {
    display: none;
  }

  [hidden] {
    display: none;
  }

  app-search-form {
    display: none;
  }

  .logo-link {
    margin-left: 16px;
  }

  .search-icon {
    display: block;
  }

  .more-vert-icon {
    display: none;
  }
}

.masthead-skeleton-icon {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 0 8px;
  background-color: hsl(0, 0%, 89%);
}

.displayNone {
  display: none;
}

.mat-menu {

  app-gf-icon {
    display: inline-flex;
    margin-right: 8px;
  }
}
