<form autocomplete='off' spellcheck='false' [formGroup]='editForm'>

  <ng-container *ngIf='question$ | async as q'></ng-container>

  <!-- Revisions -->
  <mat-form-field>
    <mat-label>Duzenlemeler</mat-label>
    <mat-select disableOptionCentering>
      <mat-option *ngFor='let food of foods' [value]='food.value'>
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field hideRequiredMarker>
    <mat-label>Başlık</mat-label>
    <input matInput formControlName='title'>
  </mat-form-field>

  <!-- Açıklama -->
  <mat-form-field hideRequiredMarker>
    <mat-label>Açıklama</mat-label>
    <textarea #text matInput cdkTextareaAutosize cdkAutosizeMaxRows='8' formControlName='text'></textarea>
  </mat-form-field>

  <div [innerHTML]='text.value'></div>

  <mat-form-field hideRequiredMarker>
    <mat-label>Özet</mat-label>
    <input matInput formControlName='summary'>
  </mat-form-field>
</form>
