:host {
  display: block;
  padding-top: 64px;
}

form {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}

textarea {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  line-height: 24px;
}

@media (prefers-color-scheme: light) {
  ::ng-deep .mat-select-panel {
    padding: 8px 0 !important;
  }

  .mat-option.mat-active {
    background-color: #6200ee12 !important;
  }
}

textarea::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;

}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}