:host {
  display: block;
}

mat-toolbar {
  background: transparent;
}

mat-toolbar mat-icon {
  color: var(--medium-emphasis-color);
}

.toolbar-title {
  margin-left: 24px;
}

.mat-list-item:first-child {
  margin-top: 0;
}

.mat-list-item {
  width: auto !important;
  font-weight: 500;
  color: var(--icon-color);
  margin: 4px 12px;
  border-radius: 28px;
  overflow: hidden;
}

/*
.material-symbols-outlined {
  margin-right: 32px;
}
*/

.mat-list-item mat-icon {
  display: none;
  margin-right: 32px;
}


.mat-list-item app-icon {
  margin-right: 32px;

  svg {
    fill: #6200ee;
  }
}

.mat-list-item span {
  // margin-left: 12px;
}

.mat-list-base .mat-subheader {
  height: 56px;
  font-weight: 500;
  /* height: auto;
   line-height: 20px;
   margin: 0;
   padding: 8px 16px;*/
  // color: var(--medium-emphasis-color);
  padding: 18px 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .1px;
  margin: 0 12px;
  // text-transform: uppercase;
  /* M3/sys/light/on-surface-variant */

  // color: #49454F;
  color: var(--medium-emphasis-color);
}

/*::ng-deep .overflow-container::-webkit-scrollbar {
  width: 8px;
}

::ng-deep .overflow-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  // border-radius: 10px;
}

::ng-deep .overflow-container::-webkit-scrollbar-track {
  // border-radius: 10px;
}*/

// Fix menu and select panel overflow scroll bar
/*::ng-deep .mat-select-panel::-webkit-scrollbar {
  width: 12px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  // border-radius: 10px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-track {
  // border-radius: 10px;
}*/

.scroll-container {
  height: calc(100vh - 64px);
  overflow: auto;
}

.scroll-container {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 16px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    min-height: 56px;
    border: 4px solid transparent;
    background-color: transparent;
    background-clip: content-box;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;

    &:hover {
      background-color: #787878;
    }
  }
}

@-moz-document url-prefix() {
  .scroll-container {
    // scrollbar-color: rgba(0, 0, 0, .12) #fff;

  }
}

mat-divider {
  width: auto;
  margin: 0 24px;
}

#copyright {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, .54);
  padding: 16px 24px;
}
