<form autocomplete='off' spellcheck='false' (submit)='formSubmit()'>

  <inek-editor-buttons>
    <div class='buttons'>

      <div class='left-content'>
        <div>
          <button type='button' mat-icon-button matTooltip='Kalın yazı' (click)='formatApply("bold")'>
            <mat-icon>format_bold</mat-icon>
          </button>
          <button type='button' mat-icon-button matTooltip='İtalik' (click)='formatApply("italic")'>
            <mat-icon>format_italic</mat-icon>
          </button>
          <button type='button' mat-icon-button matTooltip='Strikethrough S' (click)='formatApply("strike")'>
            <mat-icon>strikethrought_s</mat-icon>
          </button>
        </div>

        <div>
          <button type='button' mat-icon-button matTooltip='Title' (click)='formatApply("title")'>
            <mat-icon>title</mat-icon>
          </button>
          <button type='button' mat-icon-button matTooltip='Format Quote' (click)='formatApply("quote")'>
            <mat-icon>format_quote</mat-icon>
          </button>
        </div>

        <div>
          <button type='button' mat-icon-button matTooltip='Insert link' (click)='formatApply("link")'>
            <mat-icon>insert_link</mat-icon>
          </button>
          <button type='button' mat-icon-button matTooltip='Block Code' (click)='formatApply("blockCode")'>
            <mat-icon>data_object</mat-icon>
          </button>
          <button type='button' mat-icon-button matTooltip='Insert photo' (click)='formatApply("image")'>
            <mat-icon>insert_photo</mat-icon>
          </button>
        </div>

        <div>

          <button type='button' mat-icon-button matTooltip='Format List Bulleted' (click)='formatApply("ul")'>
            <mat-icon>format_list_bulleted</mat-icon>
          </button>
          <button type='button' mat-icon-button matTooltip='Format List Numbered' (click)='formatApply("ol")'>
            <mat-icon>format_list_numbered</mat-icon>
          </button>

          <button type='button' mat-icon-button matTooltip='Horizontal Rule' (click)='formatApply("hr")'>
            <mat-icon>horizontal_rule</mat-icon>
          </button>

        </div>
      </div>

      <span class='flex-spacer'></span>

      <!-- Undo, Redo -->
      <div class='flex-end'>
        <button mat-icon-button type='button' matTooltip='Geri al'>
          <mat-icon>undo</mat-icon>
        </button>

        <button mat-icon-button type='button' matTooltip='İleri al'>
          <mat-icon>redo</mat-icon>
        </button>
      </div>

    </div>
  </inek-editor-buttons>

  <mat-form-field appearance='outline' hideRequiredMarker>
    <textarea #textAreaElement aria-label='Answer text' matInput cdkTextareaAutosize cdkAutosizeMinRows='8'
              placeholder='Açıklayıcı bir şekilde cevap yazın' [formControl]='answerControl'></textarea>
    <mat-error *ngIf="answerControl.hasError('required')">Bir açıklama girin</mat-error>
    <mat-error *ngIf="answerControl.hasError('minlength')">Aciklama en az 24 karakter olmalidir; sen
      {{answerControl.value.length}} karakter girdin.
    </mat-error>
    <mat-hint>{{answerControl.value.length}} / 30.000</mat-hint>
  </mat-form-field>

  <!--<div class="preview-text" [innerHTML]="answerControl?.value | marked"></div>-->
  <!--  <div class='preview-text' [innerHTML]='answerControl?.value | marked'></div>-->
  <div class='preview-text' [innerHTML]='markedText$ | async'></div>

  <button mat-raised-button type='submit' color='primary' [disabled]='!answerControl.valid'>GÖNDER</button>
</form>
