:host {
  display: block;
  padding-top: 24px;
}

.buttons {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  mat-icon {
    color: var(--medium-emphasis-color);
  }
}

.flex-spacer {
  flex: 1 0 auto;
}

.left-content {
  display: flex;
  gap: 24px;
}

mat-form-field {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

textarea {
  font-size: 14px;
  line-height: 20px;
}

.preview-text {
  margin: 24px 0;
}
