@use '@angular/material' as mat;
@use 'deep-purple-light' as lightpurple;

$my-palette: mat.define-palette(lightpurple.$deep-purple-palette);

/* Define a light theme */
$light-primary: mat.define-palette(lightpurple.$deep-purple-palette);
$light-accent: mat.define-palette(lightpurple.$deep-purple-palette);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent
  )
));

/* Gray Theme */
$gray-theme-primary: mat.define-palette(mat.$gray-palette, 900);
$gray-theme-accent: mat.define-palette(mat.$gray-palette);

// $gray-theme-warn: mat.define-palette($mat-red);

$gray-theme: mat.define-light-theme((
  color: (
    primary: $gray-theme-primary,
    accent: $gray-theme-accent
  )
));

$secondary-gray-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$gray-palette),
    accent: mat.define-palette(mat.$gray-palette)
  )
));

/*@include mat.core-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.menu-theme($light-theme);
@include mat.chips-theme($light-theme);
@include mat.badge-theme($light-theme);
@include mat.tooltip-theme($light-theme);
@include mat.radio-theme($light-theme);
@include mat.dialog-theme($light-theme);
@include mat.autocomplete-theme($light-theme);
@include mat.snack-bar-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.checkbox-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.progress-bar-theme($light-theme);
@include mat.progress-spinner-theme($light-theme);
@include mat.expansion-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.button-toggle-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.slide-toggle-theme($light-theme);
@include mat.card-theme($light-theme);
@include mat.tabs-theme($light-theme);

@include mat.list-theme($gray-theme);
@include mat.divider-theme($gray-theme);
@include mat.sidenav-theme($gray-theme);*/

@include mat.all-component-themes($light-theme);

@media (prefers-color-scheme: light) {
  :root {
    // color-scheme: light;
    --html-bg-color: #fff;
    --color: rgba(0, 0, 0, .87);
    --mdc-theme-on-primary: #fff;
    --mdc-theme-primary: #6200ee;
    --mdc-theme-primary-200: 187, 134, 252;
    --mdc-theme-primary-overlay-selected: rgba(var(--mdc-theme-primary-200), 0.12);
    --medium-emphasis-color: rgba(0, 0, 0, 0.6);
    --surface: #fff;
    --topbar-background: #fff;
    --high-emphasis-color: black;
    --card-bg-color: white;
    --fab-icon-color: #fff;
    --text-color: rgba(0, 0, 0, .87);
    --icon-color: rgba(0, 0, 0, .6);
    --drawer-background: #fff;
    --autocomplete-background: #fff;
    // --search-background: rgba(0, 0, 0, 0.04);
    --search-background: #f1f3f4;
    --code-background: white;
    --border-color: rgba(0, 0, 0, .12);
    --scrollbar-color: #00000060 transparent;
    --scrollbar-bg-color: #fafafa;
    --scrollbar-thumb-background: #c2c2c2;
    --thumb-bg-hover: #7d7d7d;
  }
}

/**
  Highlight.js
 */
@import "highlight.js/scss/github";

svg {
  fill: var(--medium-emphasis-color);
}

/**
  Progress-bar
  ====================
 */
.mat-progress-bar-background {
  fill: #D2BBF4;
  // fill: #C2C2C2;
}

.mat-progress-bar-buffer {
  background-color: #D2BBF4;
  // background-color: #C2C2C2;
}

.mat-list-item.active {
  color: var(--mdc-theme-primary) !important;
  font-weight: 500 !important;
  // background-color: rgba(0, 0, 0, .12);

  mat-icon {
    color: var(--mdc-theme-primary) !important;
  }

  app-icon svg {
    // fill: var(--mdc-theme-primary);
    fill: mat.get-color-from-palette($my-palette, 500)
  }

  /* Primary Overlay */
  // background: linear-gradient(0deg, rgba(187, 134, 252, 0.12), rgba(187, 134, 252, 0.12)), #FFFFFF;
  background-color: var(--mdc-theme-primary-overlay-selected);
}

/**
  Snackbar
 */
.mat-snack-bar-container {
  color: #fff;
  background-color: #121212;
}

.mat-simple-snackbar {
  color: #fff;
}

.mat-simple-snackbar-action {
  color: #BB86FC;
}

/**
  Tooltip
 */
/*.mat-tooltip {
  background: #666 !important;
  color: #fff !important;
}*/

/**
  Chip
 */
.mat-chip.mat-standard-chip {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
}

::ng-deep .mat-chip-selected {
  background: rgba(98, 0, 238, 0.08) !important;
  color: var(--mdc-theme-primary) !important;
  border: 1px solid rgba(98, 0, 238, 0.08) !important;
}

/**
  Badge
 */
.mat-badge-warn .mat-badge-content {
  color: white;
  background: #B00020;
}
