<div class='container'>

  <!-- Tab -->
  <button mat-button [matMenuTriggerFor]='tabMenu'>
    <span>Senin için önerilenler</span>
    <app-icon name='keyboard_arrow_down'></app-icon>
  </button>

  <mat-menu #tabMenu overlapTrigger>
    <button mat-menu-item class='inek-menu-item'>Senin için önerilenler</button>
    <button mat-menu-item class='inek-menu-item'>Tüm sorular</button>
  </mat-menu>

  <!-- Sort By -->
  <button mat-button class='menu-button' [matMenuTriggerFor]='sortMenu' matTooltip='Yorumları sırala'>
    <app-icon name='sort'></app-icon>
    <span>Sıralama ölçütü</span>
  </button>

  <!-- Filter By -->
  <button mat-button class='menu-button' [matMenuTriggerFor]='filterMenu'>
    <app-icon name='filter_list'></app-icon>
    <span>Filtre</span>
  </button>

  <!--    <button mat-button class="menu-button" (click)='openFilter.emit()'>
        <app-icon name='filter_list'></app-icon>
        <span>Filtreler</span>
      </button>-->

  <!--<span class="filter-info-text">Sıralama ölçütü:</span>
  <button
    mat-button
    class="outlined-menu-button"
    aria-label="Open sort by order interactions menu"
    [matMenuTriggerFor]="sortMenu"
    (menuClosed)="cdr.markForCheck()"
  >
    <span>{{ items[selectedIndex].label }}</span>
    &lt;!&ndash;<mat-icon fontSet="material-icons-outlined">arrow_drop_down</mat-icon>&ndash;&gt;
    <app-icon name="arrow_drop_down"></app-icon>
  </button>-->

  <!--  <mat-form-field appearance="fill">
      <mat-label>Siralama olcutu</mat-label>
      <mat-select disableOptionCentering>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Filtre</mat-label>
      <mat-select disableOptionCentering>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
</div>

<mat-menu #sortMenu='matMenu' class='sort-menu'>
  <ng-template matMenuContent>
    <a
      [disabled]='item.disabled'
      mat-menu-item
      class='inek-menu-item'
      routerLink='/'
      [queryParams]='{ sort: item.sort ? item.sort : null }'
      *ngFor='let item of items; let index = index'
      #menuItem
      [class.inek-menu-item-active]='selectedIndex === index'
      (click)='menuItemClicked(menuItem, index)'
    >
      {{ item.label }}
    </a>
  </ng-template>
</mat-menu>

<mat-menu #filterMenu='matMenu' class='sort-menu'>
  <ng-template matMenuContent>
    <button
      mat-menu-item
      class='inek-menu-item'
      *ngFor='let filter of filters; let index = index'
      (click)='filterMenuItemClicked(index)'
    >
      <app-icon name='check' *ngIf='filter.checked'></app-icon>
      {{ filter.viewValue }}
    </button>
    <span class='divider-text'>ÖZEL FİLTRELER</span>
    <div class='overflow-filter-container'>
      <button mat-menu-item>Unanswered my tags</button>
      <button mat-menu-item>TypeScript</button>
      <button mat-menu-item>Angular unanswered</button>
      <button mat-menu-item>My Tags</button>
    </div>
  </ng-template>
</mat-menu>

<!--
<div class="container">
  <span class="info-text">Tagged with: </span>
  <mat-checkbox color="primary" [checked]="true">My watched tags</mat-checkbox>
  <mat-radio-group>
    <mat-radio-button>Watched</mat-radio-button>
    <mat-radio-button>Unwatched</mat-radio-button>
  </mat-radio-group>
</div>
-->
