:host {
  display: block;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 8px;

  .menu-button {
    font-family: Archivo, sans-serif;

    mat-icon {
      margin-right: 8px;
      color: var(--medium-emphasis-color);
    }
  }
}

button[aria-expanded='true'] {
  // background-color: rgba(0, 0, 0, 0.12);

  mat-icon {
    // transform: rotate(180deg);
  }

  ::ng-deep svg {
    // transform: rotate(180deg);
  }
}

.filter-info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 8px;
  white-space: nowrap;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-icon {
  display: inline-flex;
  margin-right: 8px;

/*  ::ng-deep svg {
    fill: #6200ee;
    margin-right: -4px;
  }*/
}


.outlined-menu-button {
  // height: 32px;
  // line-height: 32px;
  font-weight: 400;
  text-transform: none;
  padding: 0 8px !important;
  letter-spacing: 0;
}

// Material Design Mini Menu
.inek-menu-item {
/*  height: 32px;
  line-height: 32px;
  padding-left: 8px;
  font-size: 14px;
  font-family: Archivo, sans-serif;*/
  font-size: 16px;
}

.inek-menu-item-active {
  background-color: #6200ee12  !important;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .inek-menu-item-active {
    background-color: #ffffff12 !important;
    color: #fff;
  }
}

.divider-text {
  display: flex;
  font-size: 10px;
  line-height: 16px;
  padding: 8px;
}
