kbd {
  border: 1px solid #6200ee;
  display: inline-flex;
  border-radius: 16px;
  color: #6200ee;
  font-family: roboto mono, monospace;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 0 8px;
}

mat-list {
  padding: 24px 0;
}

div[mat-line] {
  display: flex;
  justify-content: space-between;
}
