:host {
  display: block;
}

.menu-item-active {
  background-color: #6200ee12;
  color: black;
}

.filter-header {
  display: flex;
  align-items: center;
  grid-gap: 24px;

  button mat-icon {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: var(--medium-emphasis-color);
  }
}

h6 {
  margin: 24px 0;
}

#answer-count {
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0;
}


