<div class='page-center'>
  <div class='register-form'>
    <h1 class='title'>Hesap oluştur</h1>
    <form (submit)='submit()' [formGroup]='registerForm'>

      <div class='form-body'>
        <mat-form-field hideRequiredMarker>
          <mat-label>E-posta</mat-label>
          <input aria-label='E-posta' formControlName='email' matInput type='email'>
          <mat-error>Bir e-posta adresi girin</mat-error>
        </mat-form-field>

        <mat-form-field hideRequiredMarker>
          <mat-label>Şifre</mat-label>
          <input aria-label='Şifre' autocomplete='new-password' formControlName='password' matInput type='password'>
          <mat-error>Bir şifre girin</mat-error>
        </mat-form-field>

        <mat-form-field hideRequiredMarker>
          <mat-label>Display Name</mat-label>
          <input aria-label='Display name' formControlName='displayName' matInput>
          <mat-error>Display name girin</mat-error>
        </mat-form-field>
      </div>

      <div class='row-actions'>
        <button type='submit' mat-raised-button color='primary'>İLERİ</button>
      </div>
    </form>
  </div>
</div>
