:host {
  display: block;
}

button {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

#avatar-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.topbar-avatar-button-renderer {
  width: 32px;
  height: 32px;
}

@media (max-width: 599px) {
  .topbar-avatar-button-renderer {
    width: 24px !important;
    height: 24px !important;
  }
}
