<div class='fixed-overlay'>

  <div class='content-container'>

    <!-- Card -->
    <div class='welcome-card mat-elevation-z2'>
      <img src='../../../../../assets/onboarding.png' alt='Onboarding page image'>
      <h2>Your lab, everywhere</h2>
      <p class='subtitle-1'>Find experiments happening nearby.</p>

      <div class='card-actions'>
        <button mat-raised-button>
          GET STARTED
        </button>
      </div>
    </div>

    <!-- Button -->
    <button mat-mini-fab>
      <app-gf-icon name='arrow_forward'></app-gf-icon>
    </button>
  </div>

</div>
