:host {
  display: block;
}

.fixed-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #adadad;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content-container {
  display: flex;
  align-items: center;
  gap: 48px;
}

.welcome-card {
  width: 560px;
  min-height: 560px;
  border-radius: 4px;
  background-color: #fff;
  padding: 56px 0 32px 0;
  text-align: center;

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    margin: 0;
  }

  .subtitle-1 {
    font-size: 16px;
    line-height: 24px;
    color: var(--medium-emphasis-color);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    margin-top: 8px
  }
}

button[mat-raised-button] {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  color: #6200ee !important;
  margin-top: 56px;
}

button[mat-mini-fab] {
  background-color: #fff;
  color: #6200ee;
}
