:host {
  display: block;
}

a:hover {
  text-decoration: underline;
}

.button-grid-list {
  display: flex;
  gap: 16px;
}

.header-one {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px;

  .header-one-description {
    display: flex;
    align-items: center;
    padding-top: 8px;
  }

  p {
    margin: 0;
  }

  p, time {
    color: var(--medium-emphasis-color);
  }

  button, a[mat-button] {
    font-family: Archivo, sans-serif;
    letter-spacing: 0 !important;
    letter-spacing: 1.25px;
  }

  button[color="primary"]{
    ::ng-deep app-gf-icon svg {
      fill: #6200ee;
    }
  }

  mat-icon {
/*    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;*/
    color: var(--medium-emphasis-color);
  }

  app-gf-icon {
    display: inline-flex;
    margin-right: 8px;

    ::ng-deep svg {
      /*width: 18px;
      height: 18px;*/
      fill: var(--medium-emphasis-color);
    }
  }

  .mat-button {
    mat-icon {
     /* width: 18px;
      height: 18px;
      font-size: 18px;*/
    }
  }
}

.description {
  color: var(--medium-emphasis-color);
  margin: 8px 0;
}

.mat-button {
  letter-spacing: 0;

  mat-icon {
    margin-right: 8px;
  }
}

.bracket {
  margin: 0 8px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.question-user-picture-render {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.author-info {
  display: flex;
  flex-direction: column;
}

#author-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.author-badge {
  font-size: 13px;
  line-height: 16px;
  color: var(--medium-emphasis-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  // text-decoration: underline;
}

@media (max-width: 599px) {
  :host {
    padding: 0 24px;
  }
}

.add-to-favorite {
  padding-top: 16px;

  svg {
    margin-right: 12px;
  }

  .mat-button {
    letter-spacing: 1.25px;
  }
}
