:host {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.answer-item {
  padding: 16px 0;
}

.answer-item-user {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.user-info {
  // display: flex;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.subtitle {
  font-size: 13px;
  line-height: 16px;
  color: var(--medium-emphasis-color);
}

[itemprop="text"] {
  font-size: 16px;
  line-height: 24px;
}

::ng-deep ul li {
  margin-bottom: 8px;
}

.answer-item-user-renderer {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.buttons {
  margin-left: -8px;

  button {
    font-family: Archivo, sans-serif;
    letter-spacing: 0 !important;
    margin-right: 16px;
  }

  button[color="primary"]{
    ::ng-deep app-gf-icon svg {
      fill: #6200ee;
    }
  }

  app-gf-icon {
    display: inline-flex;
    margin-right: 8px;

    svg {
      fill: var(--medium-emphasis-color);
    }
  }

  .mat-button {
    mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }
}

.mat-stroked-button {
  border-radius: 18px;
  border-color: #6200ee;

  mat-icon {
    margin-right: 8px;
  }
}

:host ::ng-deep p a {
  color: #6200ee;
}

:host ::ng-deep img {
  display: flex;
  max-width: 100%;
  height: auto;
/*  width: 400px;
  height: 400px;*/
  object-fit: cover;
}
