:host {
  display: block;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .user-box {
    // width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .user-picture-renderer {
      width: 140px;
      height: 140px;
    }

    .user-info {
      flex: 1;
      text-align: center;
    }

    .user-title {
      display: block;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      margin: 4px 0;
    }
  }
}

.mat-stroked-button {
  // letter-spacing: 1.25px;
  margin: 16px 0;
  font-family: Archivo, sans-serif;
}

@media (max-width: 599px) {
  .user-picture-renderer {
    width: 96px !important;
    height: 96px !important;
  }
}
