:host {
  display: block;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
}

:host[loaded] {
  opacity: 1;
}

#img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
