:host {
  display: block;
}

header {
  margin: 24px 0;
}

.big-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 24px 0;
}

.accordion-title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 16px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 14px 0 0;
  text-transform: uppercase;
}

.center {
  display: grid;
  margin: 0 auto;
}

img {
  width: 160px;
  height: 160px;
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  width: 100%;
}

mat-panel-title {
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

mat-panel-description img {
  width: 48px;
  height: 48px;
}

